{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h2 class="fw-bolder mb-1">{{article.title}}</h2>
                <!-- Post meta content-->
                <div class="badge bg-secondary fst-italic mb-2">{{article.created_date}}</div>
                <div class="badge bg-secondary fst-italic mb-2">{{article.author.username}}</div>
            </header>
            <!-- Preview image figure-->
            {% if article.article_image %}
                <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
            {% endif %}
            <!-- Post content-->
                <p class="fs-5 mb-4">{{article.content|safe}}</p>
            
        </article>

        
        
        <h4>Yorumlar</h4>
        <hr>
            {% if comments %}
            {% for comment in comments  %}
            <div class="d-flex mt-4">
            <div class="flex-shrink-0 mb-4"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
            <div class="ms-3 mb-4">
            <div class="fw-bold">{{comment.comment_author}}</div>
                {{comment.comment_date}}
                {{comment.comment_content}}
                <hr>
            </div>
            </div>
            {% endfor %}
            {% else %}
                <div class ="alert alert-danger">
                    Bu makaleye herhangi bir yorum yazılmamış,ilk yorum yapan siz olun!</div>
            {% endif %}

            <div class="card mb-4">
            <h5 class="card-header">Yorum Ekle</h5>
            <div class="card-body">
              <form method = "post" action = "{% url 'article:comment' article.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label form="formGroupExampleInput">İsim</label>
                    <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                  </div>
                <div class="form-group mb-4">
                    <label for="formGroupExampleInput">Yorum</label>
                  <textarea name = "comment_content" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-danger">Ekle</button>
              </form>
            </div>
</div>
</div>

{% endblock body %}